.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: #CDE7FF;
    
}

.btn:hover {
    background-color: #99CEFF;

}
